language: node_js
node_js:
- 8
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
before_install:
- openssl aes-256-cbc -K $encrypted_38266e7cf768_key -iv $encrypted_38266e7cf768_iv
  -in gae.json.enc -out gae.json -d
jobs:
  include:
    - stage: Run Tests
      script: npm test
    - stage: Produce Coverage
      node_js: node
      script: nyc npm test && nyc report --reporter=text-lcov | coveralls
    - stage: Deploy to Google Cloud
      script: skip
      deploy:
        provider: gae
        project: finn-and-fire-princess
        keyfile: gae.json
        verbosity: warning
        on:
          repo: caiobsouza/ourwed-api
          branch: master
