language: node_js
node_js:
- 8
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
jobs:
  include:
  - stage: Run Tests and Produce Coverage
    script: nyc npm test && nyc report --reporter=text-lcov | coveralls
  - stage: Deploy to Heroku
    deploy:
      provider: heroku
      app: our-wedding-api
      on:
        repo: caiobsouza/ourwed-api
        branch: master
      api_key:
        secure: ExqOIhTrhVCVAnddeYlzC/NXERRr2ZnWNfYvtl3NHBdpJi6jEtxSU3oIKWq/un7T+PRLV6c5u5rPXaUInotjhJguzMLH4pLw53SaJkU7KljQI4xPVTM/xrzBFmx+17EcqSQo95VfEmyFlYCcS9N01kLigmESYqFS24r/X/6emRPU4vMqpjRRkJS//Yk0neMmpnmWsoU5LsLdMNSgRZsnSWwroCsbx3A1f6dmIzWTGfXDkoU9lzC99iZL9zWR0D/q8zYSLDHFBVLfiey0rZbTD9D4sFXsYyDVbKeNZgi+ZEMvUlBQVqzjwrXga1OX9xx0thtY2IOgq6V9RZxEKjIuXBazeRvVep32GvjYuIr680vf7m3JhbFR55GsYgKdq1DQhrSfIu07JQvsh8DRYFl5CWijMkA0wVxvX+b9s8pVyvNuf08IH8xN7Y7ei0GTuY3gpiZ4wfQ43wxK/dqT4aFGTJO3Ogrn5fSC8ADTeWTSBXIYXtMkqhjrOM7meESB/KzsFXRmutjEO4bAWC8ZPIgsI6GDGoz6dbQl60o3D0f5QqMAo4PpCsFoq3cyeiwrv1lHzwlNq98JTiBVs8fNroLVjJjW1QN/2O/9Ygs5r/94PxLFvLdAJ/ccDFecVKy6QD+x0DNLOlRFCuvtC8wnbpMnbU/npi60+x+U1Gd0sQdni/w=