language: node_js
node_js:
- 8
branches:
  only:
  - master
notifications:
  email: false
deploy:
  provider: gae
  project: wedding-caiogabi
  keyfile: gce.json
  verbosity: debug
  on:
    repo: caiobsouza/ourwed-api
    branch: master
before_install:
- openssl aes-256-cbc -K $encrypted_38266e7cf768_key -iv $encrypted_38266e7cf768_iv
  -in gce.json.enc -out gce.json -d
